:root {
  --brand: #2ea6f7;
  --dark: #002261;
  --text: #222222;
  --bg: #ffffff;
  --primary-color: #002261;
  --title-color: #2ea3f3;
  --heading-color: #222;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  --radius: 14px;
  --heading-font: "Poppins";
  --body-font: "Rubik";
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  color: var(--text);
  background-color: var(--bg);
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Links & Lists */
a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--brand);
}

li {
  list-style: none;
}

.appointment-container {
  padding: 50px;
  background-color: #f9f9f9;
  width: 60%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.appointment-container h3 {
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--dark);
}

.appointment-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: auto;
  gap: 18px;
}

.appointment-container form input {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
}

.appointment-container form input:focus {
  border-color: var(--brand);
  box-shadow: 0 0 6px rgba(46, 166, 247, 0.3);
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--dark);
  font-size: 14px;
}

.appt-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.appt-radio-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 10px;
  font-size: 15px;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  flex: 1 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.appt-radio-box:hover {
  border-color: var(--brand);
  background-color: #eef8ff;
  color: var(--brand);
}

.appt-radio-box.active-category {
  background-color: var(--dark);
  color: #fff;
  border-color: var(--dark);
  box-shadow: 0 4px 10px rgba(0, 34, 97, 0.2);
  transform: translateY(-2px);
  font-weight: bold;
}
.appointment-container .doctor-form {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.appointment-container .doctor-form input:focus,
.appointment-container .doctor-form select:focus {
  border-color: var(--brand);
  box-shadow: 0 0 6px rgba(46, 166, 247, 0.3);
}
.appointment-container .doctor-form select option {
  border: 1px solid #ccc;
}
.appointment-container .doctor-form input,
.appointment-container .doctor-form select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.appointment-container button {
  background-color: var(--dark);
  color: white;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  font-weight: bold;
}

.appointment-container button:hover {
  background-color: var(--brand);
}

/* Responsive Design */

@media (max-width: 768px) {
  .appointment-container {
    width: 90%;
    padding: 30px;
  }

  .appt-radio-box {
    flex: 1 0 45%;
  }
}

@media (max-width: 480px) {
  .appt-radio-box {
    flex: 1 0 100%;
  }
}
